@page
@model Worksheet1.pages.ws1Model
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ws1</title>
</head>
<body>

    <h1>CSHTML PAGE</h1>

    <ul>
        @foreach (string country in Model.MyTestArray)
        {
            <li>@country</li>
        }
    </ul>

    <h1>@Model.Message</h1>

    <form method="post">
        <label for="number1">Number1</label>
        <input type="number" id="numebr1" name="number1" />

        <button type="submit">Submit</button>
    </form>
</body>
</html>
