@page
@model Worksheet1.pages.ws1Model
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ws1</title>
</head>
<body>
    <h1>Country: @Model.MyTestArray</h1>
</body>
</html>
