@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Worksheet1.pages.WS1bModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WS1b</title>
</head>
<body>

    <h1>WS1B</h1>

    <form method="post">
        <label asp-for=Number1>Number1</label>
        <input asp-for=Number1 />

        <label asp-for=Number2>Number2</label>
        <input asp-for=Number2 />

        <fieldset>
            <legend>Choose your operation</legend>
            <input type="radio" name="operation" value="plus" id="plus" /><label for="plus">Plus</label>
            <input type="radio" name="operation" value="minus" id="minus" /><label for="minus">Minus</label>
            <input type="radio" name="operation" value="multiply" id="multiply" /><label for="multiply">Multiply</label>
            <input type="radio" name="operation" value="divide" id="divide" /><label for="divide">Divide</label>

        </fieldset>

        <button type="submit">Submit</button>

    </form>

    <h2>@Model.Message</h2>

</body>
</html>
